In [15]:
!pip freeze | grep scikit-learn

scikit-learn==1.2.2

In [16]:
import pickle
import pandas as pd

In [17]:
with open('model.bin', 'rb') as f_in:
    dv, model = pickle.load(f_in)

In [18]:
categorical = ['PULocationID', 'DOLocationID']

def read_data(filename):
    df = pd.read_parquet(filename)
    
    df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    df['duration'] = df.duration.dt.total_seconds() / 60

    df = df[(df.duration >= 1) & (df.duration <= 60)].copy()

    df[categorical] = df[categorical].fillna(-1).astype('int').astype('str')
    
    return df

In [19]:
year = 2022
month = 2
df = read_data(f'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year:04d}-{month:02d}.parquet')

In [20]:
dicts = df[categorical].to_dict(orient='records')
X_val = dv.transform(dicts)
y_pred = model.predict(X_val)

In [21]:
pd.DataFrame(y_pred).std()

0    5.281404
dtype: float64

In [37]:
df['ride_id'] = f'{year:04d}/{month:02d}_' + df.index.astype('str')

In [42]:
df_result = pd.DataFrame()
df_result['ride_id'] = df.ride_id.values
df_result['predictions'] = y_pred

In [43]:
df_result.head()

     ride_id  predictions
0  2022/02_0    18.527783
1  2022/02_1    23.065782
2  2022/02_2    33.686359
3  2022/02_3    23.757436
4  2022/02_4    21.492904

In [40]:
output_file = "./output/df_result.parquet"
df_result.to_parquet(
    output_file,
    engine='pyarrow',
    compression=None,
    index=False
)