In [1]:
import pandas as pd

In [2]:
df_anime = pd.read_csv("data/anime.csv")
df_rating = pd.read_csv("data/rating.csv")

In [3]:
df_anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
df_rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [5]:
df_anime.shape, df_rating.shape

((12294, 7), (7813737, 3))

In [7]:
df_rating.groupby(['user_id']).count()

         anime_id  rating
user_id
1             153     153
2               3       3
3              94      94
4              52      52
5             467     467
...           ...     ...
73512          13      13
73513          33      33
73514           1       1
73515         196     196
73516           2       2

[73515 rows x 2 columns]