In [3]:
import pandas as pd
from pathlib import Path

In [27]:
use_sample= True

In [45]:
path_data = Path('data/vehicles.feather')
if not path_data.exists():
    df_cars = pd.read_csv("data/vehicles.csv")
#     save as .feather for future. Faster.
    df_cars.to_feather(path_data)
else :
    df_cars = pd.read_feather(path_data)

In [46]:
df_cars.isna().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

Since there are a lot of missing values, we will use a few columns with few missing values

In [47]:
cols = ['id','year','fuel','odometer','transmission', 'price']
df_cars = df_cars[cols]

In [48]:
df_cars = df_cars.loc[~df_cars.isna().any(axis = 1)]

In [49]:
if use_sample:
    df = df_cars.sample(frac = .1, random_state=1024)
else:
    df = df_cars.copy()

In [52]:
print(df.shape)
df.head()

(41755, 6)

                id    year    fuel  odometer transmission  price
411308  7311450486  2013.0     gas   46267.0    automatic  15995
340463  7303076328  2020.0     gas   21938.0        other  25990
311669  7314370012  1998.0     gas  320220.0    automatic    123
262500  7306571989  2017.0  diesel   29014.0        other  19590
33923   7316374412  2005.0     gas  130000.0    automatic   1500

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor